  .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 160px;
  width: 60%;
}

.nigths {
  width: 100px;
}

.tariff .name {
  font-weight: bold;
}

.results {
  margin-top: 60px;
}

.popup_message {
  position: absolute;
  top: 10px;
}

#hotel {
  width: 300px;
}

li:nth-of-type(odd) {
  background: gainsboro;
}

li:nth-of-type(even) {
  background: white;
}

.search-form {
  background: gainsboro;
  padding: 10px;
}